--index-url https://pypi.python.org/simple/
--editable git+https://github.com/RealVNF/DeepCoord@tnsm2021#egg=DeepCoord
--editable git+https://github.com/perrygeo/simanneal#egg=simanneal

PyYAML
numpy
pandas
matplotlib
scipy
networkx
tqdm
Click
